name: publish
on:
  push:
    branches:
      - main
  repository_dispatch:
jobs:
  publish:
    name: Build and publish the website
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.13"
      - name: Build website
        run: make prod
      - name: Sync website with the remote repository
        uses: ./.github/actions/sync-repository
        with:
          local-path: dist/
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          ssh-port: ${{ secrets.SSH_PORT }}
          remote-path: ${{ secrets.REMOTE_SSH }}:/srv/toltec/web
